@model List<PasswordmanagerAccount>

<partial name="_PaginationPartial" model="@(new PaginationVM {
    Pager = ViewBag.Pager,
    PgNumber = ViewBag.pg,
    SearchTitle = ViewBag.searchTitle,
})">

<form id="passwords_table" asp-action="ExportToCSV" asp-controller="PasswordManager" method="POST">
    <table class="table-container table table-striped table-responsive table-bordered table-hover" id="password_table"
        style="width: 100%;">
        <thead class="freeze_header">
            <tr>
                <th class="freeze_header" scope="col">@Html.DisplayName("Row #")</th>
                <th class="freeze_header" scope="col">@Html.DisplayName("Actions")</th>
                <th class="freeze_header" scope="col">@Html.DisplayName("Title")</th>
                <th class="freeze_header" scope="col">@Html.DisplayName("Username")</th>
                <th class="freeze_header" scope="col">@Html.DisplayName("Password")</th>
                <th class="freeze_header" scope="col">@Html.DisplayName("Created On")</th>
                <th class="freeze_header" scope="col">@Html.DisplayName("Last Updated On")</th>
                <th class="freeze_header" scope="col">@Html.DisplayName("Update")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (i, passwordAccount) in Model.Select((passwordAccount, i) => (i, passwordAccount)))
            {
                @Html.HiddenFor(m=>m[i].Userid)
                @Html.HiddenFor(m=>m[i].Title)
                @Html.HiddenFor(m=>m[i].Username)
                @Html.HiddenFor(m=>m[i].Password)
                @Html.HiddenFor(m=>m[i].CreatedAt)
                @Html.HiddenFor(m=>m[i].LastUpdatedAt)
                <tr>
                    <td>
                        <span>@(i + 1)</span>
                    </td>
                    <td>
                        <div><a class="Edit" href="javascript:;">EDIT</a></div>
                        <div><a class="Delete" href="javascript:;">DELETE</a></div>
                        <div><a class="ConfirmDelete" href="javascript:;" style="display:none">CONFIRM</a></div>
                        <div><a class="Cancel" href="javascript:;" style="display:none">CANCEL</a></div>
                    </td>
                    <td>
                        <span>@passwordAccount.Title</span>
                        @Html.TextBoxFor(_=>passwordAccount.Title, new {style="display:none;width:100px"})
                    </td>
                    <td>
                        <span>@passwordAccount.Username</span>
                        @Html.TextBoxFor(_=>passwordAccount.Username, new {style="display:none;width:100px"})
                    </td>
                    <td>
                        <span>@passwordAccount.Password</span>
                        @Html.TextBoxFor(_=>passwordAccount.Password, new {style="display:none;width:100px"})
                    </td>
                    <td>
                        <span>@passwordAccount.CreatedAt</span>
                    </td>
                    <td>
                        <span>@passwordAccount.LastUpdatedAt</span>
                    </td>
                    <td>
                        <a class="Update" style="pointer-events: none; color: gray; text-decoration: none;">UPDATE</a>
                        @Html.HiddenFor(_=>passwordAccount.Id)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

<partial name="_PaginationPartial" model="@(new PaginationVM {
    Pager = ViewBag.Pager,
    PgNumber = ViewBag.pg,
    SearchTitle = ViewBag.searchTitle,
})">

