@page "/passwords"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inherits PasswordTableBase

@attribute [Authorize]


<style>
    .centered_container {
        font-family: arial;
        font-size: 24px;
        margin: 25px;
        width: 350px;
        height: 200px;
        /*outline: dashed 1px black;*/
        /* Setup */
        position: relative;
    }

    .child {
        width: 150px;
        height: 150px;
        /*background-color: red;*/
        /* Center vertically and horizontally */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>




<AuthorizeView>
    <Authorized>
        @if (PasswordAccountModels is null)
        {
            <div class="centered_container">
                <div class="child">
                    <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Primary" Value="100" ShowValue="false"
                        Mode="ProgressBarMode.Indeterminate" />
                </div>
            </div>
        }
        else
        {
            <h1 class="text-center">Passwords</h1>
            <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" class="mt-2 mb-4"
                Text="Add New Password Account" Click="@InsertRow" Disabled=@(PasswordToInsert != null || PasswordToUpdate
            != null) Sort="@Reset" Page="@Reset" Filter="@Reset" />

            <RadzenDataGrid @ref="dataGrid" AllowAlternatingRows="false" AllowFiltering="true" AllowPaging="true"
                PageSize="5" AllowSorting="true" EditMode="DataGridEditMode.Single" Data="@PasswordAccountModels"
                TItem="PasswordmanagerAccount" RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow" ColumnWidth="200px">
                <Columns>
                    <RadzenDataGridColumn TItem="PasswordmanagerAccount" Property="Id" Title="Account ID" Width="120px" />

                    <RadzenDataGridColumn TItem="PasswordmanagerAccount" Property="CreatedAt" Title="Created At"
                        Width="200px">
                        <Template Context="passwordAccountModel">
                            @passwordAccountModel.CreatedAt
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="PasswordmanagerAccount" Property="LastUpdatedAt" Title="Last Updated At"
                        Width="200px">
                        <Template Context="passwordAccountModel">
                            @passwordAccountModel.LastUpdatedAt
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="PasswordmanagerAccount" Property="Title" Title="Title">
                        <Template Context="passwordAccountModel">
                            @passwordAccountModel.Title
                        </Template>
                        <EditTemplate Context="passwordAccountModel">
                            <RadzenTextBox @bind-Value="passwordAccountModel.Title" Style="width:100%" Name="Title" />
                            <RadzenRequiredValidator Text="Title is required" Component="Title" Popup="true" />
                        </EditTemplate>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="PasswordmanagerAccount" Property="UserName" Title="UserName" Width="220px">
                        <Template Context="passwordAccountModel">
                            @passwordAccountModel.Username
                        </Template>

                        <EditTemplate Context="passwordAccountModel">
                            <RadzenTextBox @bind-Value="passwordAccountModel.Username" Style="width:100%; display: block"
                                Name="UserName" />
                            <RadzenRequiredValidator Text="UserName is required" Component="UserName" Popup="true" />
                        </EditTemplate>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="PasswordmanagerAccount" Property="Password" Title="Password" Width="300px">
                        <Template Context="passwordAccountModel">
                            <RadzenPassword @bind-Value="@passwordAccountModel.Password"
                                Visible="@(GetPasswordVisibility(passwordAccountModel.Id) == false)" />
                            <RadzenTextBox @bind-Value="@passwordAccountModel.Password"
                                Visible="@(GetPasswordVisibility(passwordAccountModel.Id))" />
                            <br>
                            Show password
                            <RadzenCheckBox TValue="bool" Value=@PasswordVisible[passwordAccountModel.Id] Change=@(args =>
                            PasswordVisible[passwordAccountModel.Id] = args) Name="CheckBox2" />
                        </Template>

                        <EditTemplate Context="passwordAccountModel">
                            <RadzenPassword @bind-Value="@passwordAccountModel.Password"
                                Visible="@(GetPasswordVisibility(passwordAccountModel.Id) == false)" />
                            <RadzenTextBox @bind-Value="@passwordAccountModel.Password"
                                Visible="@(GetPasswordVisibility(passwordAccountModel.Id))" Name="Password" />
                            <br>
                            Show password
                            <RadzenCheckBox TValue="bool" Value=@PasswordVisible[passwordAccountModel.Id] Change=@(args =>
                            PasswordVisible[passwordAccountModel.Id] = args) Name="CheckBox2" />

                            <RadzenRequiredValidator Text="Password is required" Component="Password" Popup="true" />
                        </EditTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="PasswordmanagerAccount" Context="product" Filterable="false"
                        Sortable="false" TextAlign="TextAlign.Right" Width="156px">
                        <Template Context="passwordAccountModel">
                            <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat"
                                Size="ButtonSize.Medium" Click="@(args => EditRow(passwordAccountModel))"
                            @onclick:stopPropagation="true">
                            </RadzenButton>
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat"
                                Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1"
                                Click="@(args => DeleteRow(passwordAccountModel))" @onclick:stopPropagation="true">
                            </RadzenButton>
                        </Template>

                        <EditTemplate Context="passwordAccountModel">
                            <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat"
                                Size="ButtonSize.Medium" Click="@((args) => SaveRow(passwordAccountModel))">
                            </RadzenButton>
                            <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat"
                                Size="ButtonSize.Medium" class="my-1 ms-1"
                                Click="@((args) => CancelEdit(passwordAccountModel))">
                            </RadzenButton>
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat"
                                Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1"
                                Click="@(args => DeleteRow(passwordAccountModel))">
                            </RadzenButton>
                        </EditTemplate>
                    </RadzenDataGridColumn>


                </Columns>
            </RadzenDataGrid>
        }
    </Authorized>

    <NotAuthorized>
        <p>You are not authorized to access this route.</p>
    </NotAuthorized>
</AuthorizeView>
