@model PaginationVM

<div class="container">
    @if (Model.Pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a
                        class="page-link"
                        href="#"
                        onclick="filterAccounts('1', '@Model.SearchTitle')"
                    >
                        First
                    </a>
                </li>
                <li class="page-item">
                    <a
                        class="page-link"
                        href="#"
                        onclick="filterAccounts('@(Model.Pager.CurrentPage - 1)', '@Model.SearchTitle')"
                    >
                        Previous
                    </a>
                </li>
            }

            @for (var pge = Model.Pager.StartPage; pge <= Model.Pager.EndPage; pge++)
            {
                <li class="page-item @(pge == Model.Pager.CurrentPage ? "active" : "")">
                    <a
                        class="page-link"
                        href="#"
                        onclick="filterAccounts('@pge', '@Model.SearchTitle')"
                    >
                        @pge
                    </a>
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link"
                    href="#"
                    onclick="filterAccounts('@(Model.Pager.CurrentPage + 1)', '@Model.SearchTitle')"
                    >Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                    href="#"
                    onclick="filterAccounts('@(Model.Pager.TotalPages)', '@Model.SearchTitle')"
                    >Last</a>
                </li>
            }
        </ul>
    }
</div>